<p id="notice" style="color: green; position: fixed; bottom: 0; right: 0; background-color: rgba(255, 0, 0, 0.2); padding: 10px;"><%= notice %></p>

<h3>
  Messages
  <sup id="messages_counter"><%= @messages.count %></sup>
</h3>

<div id="new_message">
  <%= render partial: "messages/form", locals: { message: Message.new } %>
</div>

<div id="messages">
  <%= render @messages %>
</div>

<%= link_to "New message", new_message_path %>
